@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

nav ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  line-height: 80px;
  margin: 0 5px;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
}

* {
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

nav {
  background-color: #1d2228;
  color: white;
  height: 80px;
  width: 100%;
}

.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 120px;
  font: bold;
  display: inline;
  color: #fb8122;
}

nav ul {
  float: right;
  margin-right: 120px;
}

nav ul li a {
  color: white;
  font-size: 1;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fb8122;
}

.main-stocks {
  display: inline-block;
  background-color: #1d2228;
}

.stock-name {
  color: #fb8122;
  font-size: 25px;
}

.stock-price {
  color: white;
  font-size: 20px;
}

.stock-change {
  color: white;
}

.fixTableHead {
  overflow-y: auto;
  height: 600px;
  color: white;
  padding-bottom: 30px;
  width:80%;
}

.fixTableHead thead th {
  position: sticky;
  top: 0;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  width: 80%;
}

.table-profile {
  border-collapse: separate;
  width: fit-content;
}

th,
td {
  padding: 8px 15px;
}
th {
  background: rgb(105 102 102);
}

td {
  background: rgb(225, 225, 225, 0.05);
}

/* css for login inpired by https://codepen.io/khadkamhn/pen/ZGvPLo */

.login-box {
  background-color: rgba(0, 0, 0, 0.37);
  background: linear-gradient(
      rgba(0, 0, 0, 0.75) 100%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    url("https://i.ytimg.com/vi/Zqq7cPxg_Yc/maxresdefault.jpg");
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-inner-box {
  height: fit-content;
  width: fit-content;
  background-color: #1d2228;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.inner-inner-login {
  font-size: 25px;
}

.form__field {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  width: 300px;
  padding: 10px;
}

.login {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #fb8122;
  text-align: center;
  transition: all 0.2s;
  border: none;
  font-size: 20px;
  margin-top: 20px;
}

.login:hover {
  background-color: #d37126;
}

.sign-up-button {
  font-size: 18px;
}

.whatched-stocks {
  overflow-y: auto;
  height: 300px;
  font-size: 20px;
}

.incorrect-singup {
  color: white;
  background: red;
  font-size: 25px;
  text-align: center;
}

.index-table {
  text-align: center;
}

.index-title {
  color: white;
  font-size: 25px;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sign-out {
  display: inline-block;
}

.edit {
  display: inline-block;
}

.clickable-profile {
  color: #fb8122;
}

.clickable-profile:hover {
  color: white;
}

.sign-up-button {
  color: #fb8122;
}

.sign-up:hover {
  color: white;
}

.popular-stocks {
  overflow-y: auto;
  max-height: 600px;
  color: white;
  padding-bottom: 30px;
  width: 80%;
}

.popular-stocks thead th {
  position: sticky;
  top: 0;
  font-weight: normal;
}

.homepage-body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.75) 100%,
    rgba(0, 0, 0, 0.75) 100%
  );
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
}

.edit-label {
  padding-top: 15px;
}

.login-title {
  font-size: 30px;
}

.stock-data-table {
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  width: 100%;
  border-collapse: separate;
}

.watchlist-title {
  padding-top: 30px;
}

.stock-name-symbol {
  font-size: 40px;
  padding-top: 30px;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    height: 100vh;
    background: #1d2228;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }

  #check:checked ~ ul{
    left: 0;
    width: 100%;
    display:block;
    position: sticky;
    margin-right: 0px;
  }

  .form__field{
    width:90%;
  }

  .login-inner-box{
    padding: 6%;
  }


}

.dropdown{
  background-color:white;
  color: black;
}

.dropdown-list{
  display: block;
    background-color: white;
    color: black;
    position: relative;
    height: fit-content;
    list-style: none;
    padding: 0;
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
}

.dropdown-list-item:hover{
    background-color: rgb(130, 140, 143);
}

table.index-table{
  width:100%;
}

@media (max-width: 450px){
  .logo{
    display: block;
    padding-left:50px;
  }

}

div#dropdown{
  position: relative;
}

.stockDoesNotExist{
  display: none;
}

.symbol-dropdown{
  float: left;
}

.name-dropdown{
  float:right;
}





