{% extends 'base.html' %} 
{% block content %} 
{%if message==False%}
<div class="incorrect-singup">Incorrect Login details have been provided</div>
{%endif%}

<div class="login-box">
  <div class="login-inner-box">
    <div class="inner-inner-login">
      <h3 class="login-title">Login</h3>
      <form action="/login_action" method="post">
        <div class="form__group field">
          <input
            class="form__field"
            type="text"
            name="email"
            placeholder="email"
          />
          <br />
          <input
            class="form__field"
            type="password"
            name="password"
            placeholder="password"
          />
          <br />
        </div>
        <button class="login">Login</button>
      </form>
      <br />
      <span class="sign-up-button">You don't have a account? </span>
      <br />
      <a href="/signup" class="sign-up-button">sign up here</a>
    </div>
  </div>
</div>

{%endblock%}
