{% extends 'base.html' %} {% block content %} {%for stock in stocks%}

{% endfor %}

<h1 class="index-title">Top 100 Most active Stocks</h1>
<div class="fixTableHead">
  <table class="index-table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price(Intraday)</th>
        <th>Change</th>
        <th>% Change</th>
        <th>Volume</th>
        <th>Avg Volume(3 months)</th>
        <th>Market Cap</th>
        <th>PE Ratio (TTM)</th>
      </tr>
    </thead>
    <tbody>
        {%for i in active_stocks%}
        <tr>
            <td>{{i["Symbol"]}}</td>
            <td>{{i["Name"]}}</td>
            <td>{{i["Price (Intraday)"]}}</td>
            <td>{{i["Change"]}}</td>
            <td>{{i["% Change"]}}</td>
            <td>{{i["Volume"]}}</td>
            <td>{{i["Avg Vol (3 month)"]}}</td>
            <td>{{i["Market Cap"]}}</td>
            <td>{{i["PE Ratio (TTM)"]}}</td>
        
        </tr>
        {%endfor%}
      
    </tbody>
  </table>
</div>

<!-- Takes to long deleting -->
<!-- {%for news in news_list%}
<div>
    <h4><a href="{{news.url}}">{{news.title}}</a></h4>
    <img src="{{news.image}}" alt="dsiplay-picture">
    <p>{{news.pubdate}}</p>
</div>


{% endfor %} -->

{%endblock%}
