{% extends 'base.html' %}

{% block content %}

{%if incorrect%}
<div class="incorrect-singup">
  {{message}}
</div>

{%endif%}

<div class="login-box">
    <div class="login-inner-box">
      <div class="inner-inner-login">
        <h3 class="login-title">Sign up</h3>
        <form action="/signup_action" method="POST">
          <div class="form__group field">
            <input type="text" class="form__field" name="first_name" placeholder="First Name">
            <br />
            <input type="text" class="form__field" name="last_name" placeholder="Last Name">
            <br />
            <input type="text" class="form__field" name="email" placeholder="E-mail">
            <br>
            <input type="password" class="form__field" name="password" placeholder="Password">

          </div>
          <button class="login">Sign up</button>
        </form>
      </div>
    </div>
  </div>

{%endblock%}